appelOffre/data.xsd

<?xml version="1.0"?>
<can:schema xmlns:can="http://www.w3.org/2001/XMLSchema">

<can:element name="Candidature">
  <can:complexType>
    <can:sequence>
      <can:element name="to" type="can:string"/>
      <can:element name="from" type="can:string"/>
      <can:element name="heading" type="can:string"/>
      <can:element name="body" type="can:string"/>
    </can:sequence>
  </can:complexType>
</can:element<name />

</can:schema>
