appelOffre/projet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="projet" type="projetType"/>
  <xs:complexType name="projetType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="xs:string" name="idProjet"/>
      <xs:element type="xs:string" name="image"/>
      <xs:element type="xs:string" name="nom"/>
      <xs:element type="xs:string" name="descriptif"/>
      <xs:element type="xs:string" name="deadLineCandidature"/>
      <xs:element name="deadLineProjet">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="30/05/2018"/>
            <xs:enumeration value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:schema>